body { 
	font-family: 'Proxima Nova';
	line-height: 1.8em;
	}

p { 
	font-family: 'Proxima Nova';
	margin-top: 0; 
	padding: 0em 4%;
	}

h1 { 
	background-color: $primary-color;
	text-shadow: 5px 5px 0px $color-1;
 	font-family: 'blenny';
 	color: white;
 	padding: 0.5em 8%;
 	font-size: 2.5em;
 	line-height: 1em;
	}

h2 {
	font-family: 'Proxima Nova';
	color: $color-1;
	padding: 0em 8%;
	font-size: 1.75em;
	line-height: 1em;
}

h3 { 
	font-size: 2em;
	font-family: 'Proxima Nova';
	font-weight: black;
	letter-spacing: 1px; 
	margin-bottom: 1em; 
	color: $primary-color;
	padding: 0em 4%;
	}

a:link, a:visited { 
	font-weight: bold;
	text-decoration: none;
	color: $color-1;
}


a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: $color-1;
	}

ul {
	padding: 0;
	list-style-type: none;
}
